.product-card {
  display: flex;
  align-items: center;
  background-image: linear-gradient(var(--color-blue), var(--color-red) 60%);
  padding: 2rem;
  margin: 1rem auto 0 auto;
  border-radius: 1rem;
  max-width: 40rem;
  height: 350px;
}

.product {
  display: flex;
  align-items: center;
}

.product-img {
  width: 260px;
}

.product-right {
  margin-left: 1rem;
}

.product-right h4 {
  font-size: 1.75rem;
  text-shadow: 1px 1px 2px var(--color-white);
  color: var(--color-black);
}
.product-right p {
  margin-top: 1rem;
  color: var(--color-white);
  text-shadow: 1px 1px 2px var(--color-black);
}
