.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(var(--color-red), var(--color-blue) 60%);
  padding: 3rem;
  margin: 1rem auto 0 auto;
  border-radius: 1rem;
  max-width: 40rem;
  min-height: 350px;
}

.product {
  display: flex;
  align-items: center;
}

.product-img {
  width: 320px;
}

.product-right {
  margin: 1rem 1rem 0 1rem;
}

.product-right h4 {
  font-size: 1.75rem;
  text-shadow: 1px 1px 2px var(--color-white);
  color: var(--color-black);
}
.product-right p {
  margin-top: 1rem;
  color: var(--color-white);
  text-shadow: 1px 1px 2px var(--color-black);
}

.product-right.animation {
  animation: 1s ease moveToRight1;
}

.product-right.reanimation {
  animation: 1s ease moveToRight2;
}

@keyframes moveToRight1 {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveToRight2 {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .product {
    flex-direction: column;
  }
  .product-img {
    width: 260px;
  }
  .product-right {
    margin-top: 2rem;
  }
}

@media (max-width: 440px) {
  .product-img {
    width: 200px;
  }
}
